server:
  port: 9999
  context-path: /sso-server
  session:
    timeout: 300
spring: 
  application:
    name: microservice-sso-server
  datasource:                       
    url: jdbc:mysql://127.0.0.1:3306/springcloud1-microservice?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false
    driverClassName: com.mysql.jdbc.Driver
    username: root  
    password: root
eureka: 
  instance:
    hostname: sso-server
  client:
    serviceUrl: 
      defaultZone: http://localhost:8761/eureka/

  redis:                               # 指定redis数据源
    database: 0
    host: 127.0.0.1
    port: 6379
    password: 123456
    lettuce:
      pool: 
       max-active: 8
       max-wait: -1
       max-idle: 8
       min-idle: 0
    timeout: 0
 
 